<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/414c6797-aa35-4de9-93ef-6fd054c2686a/resourceGroups/Fair-Share_group/providers/Microsoft.ContainerRegistry/registries/FairShareApiContainer</ResourceId>
    <ResourceName>FairShareApiContainer</ResourceName>
    <ResourceGroup>Fair-Share_group</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://fairshareapicontainer-gnc0akckh4ergvaa.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>391efd1b-b2c3-4f68-ac3e-6da9249fd7f6</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>